<p>你好 <%= @resource.username %>!</p>

<p>我们收到了重置您的密码的请求，点击下面的链接来重置密码.</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果这不是您的操作，请忽略此邮件.</p>
<p>您的密码不会被修改直到您登录系统并设置新的密码。</p>
<p>Octocate 敬上</p>
